<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exécution du Script Mail.js</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container">
        <h1>Exécuter Mail.js</h1>
        <form action="/send-mail" method="POST">
            <button type="submit">Lancer MailPro</button>
        </form>
    </div>
</body>
</html>