<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exécution du Script Mail.js</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container">
        <h1>Exécuter Mail.js</h1>
        <!-- Formulaire pour Mail.js -->
        <form action="/send-mail" method="POST">
            <button type="submit">Lancer Help</button>
        </form>
         
        <h1>Connecter Facebook</h1>
        <!-- Formulaire pour Facebook -->
        <form action="/send-facebook" method="POST">
            <button type="submit">Lancer Facebook</button>
        </form>

        <h1>Liberation H360</h1>
        <!-- Formulaire pour la route Liberation H360 -->
        <form action="/send-LibHermes" method="POST">
            <button type="submit">Liberer Login Hermes</button>
        </form>

        <h1>Login sur H360</h1>
        <!-- Formulaire pour la route Liberation H360 -->
        <form action="/send-LogHermes" method="POST">
            <button type="submit">Loguer sur Hermes</button>
        </form>
    </div>
</body>
</html>